!!!
%html
  %head
    -# %link{ :rel => "stylesheet", :href => "stylesheets/compiled/screen.css", :type => "text/css", :media => "screen, projection" }
    %title Inbox
  %body
    #container
      %h1 Inbox
      = yield
