!!!
%html
  %head
    -# %link{ :rel => "stylesheet", :href => "stylesheets/compiled/screen.css", :type => "text/css", :media => "screen, projection" }
    %title Inbox
  %body
    #container
      %h1 Inbox
      %p
        Bugmenot on steroids
        %a{ :href => "http://userscripts.org/scripts/show/39313" }
      = yield
